.collapsible {
    transition: height 0.3s;
    overflow: hidden;
    height: 0;
}

#menu-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 160px;
    background-color: var(--button-background-color);
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.menu-header {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.btn-menu {
    position: relative;
    background: transparent;
    box-shadow: none;
    text-align: left;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--button-text-color);
    border-radius: 5px;
    width: 100%;

    &:hover {
        background-color: var(--button-background-color-hover);
        color: var(--button-text-color-hover);
    }
}
