/* Базовые настройки и сброс */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dark-theme {
    --button-background-color: #3d3d3d;
    --button-background-color-hover: #4a4a4a;
    --background-color: #2b2b2b;
    --button-text-color: #ccc; 
    --button-text-color-hover: #fff; 
}

.light-theme {
    --button-background-color: #e0e0e0;
    --button-background-color-hover: #d0d0d0;
    --background-color: #f0f0f0;
    --button-text-color: #4a4a4a;
    --button-text-color-hover: #1a1a1a;
}

body {
    height: 100vh;
    color: var(--button-text-color);
}

canvas {
    position: absolute;
    inset: 0;              /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: 100%;
    z-index: 0;            /* под остальным UI */
    display: block;
    touch-action: none;
}

/* Главный контейнер с рамкой */
.app-container {
    width: 100vw;
    height: 100vh;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5), -5px -5px 15px rgba(255,255,255,0.05);
    overflow: hidden;
}

/* --- Стили кнопок (Общие) --- */
button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    box-shadow: 3px 3px 6px #222222, -3px -3px 6px #484848;

    &:active {
        box-shadow: inset 3px 3px 6px #222222, inset -3px -3px 6px #484848;
        transform: scale(0.98);
    }

    &:hover {
        color: var(--button-text-color-hover);
        background-color: var(--button-background-color-hover);
    }
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--button-text-color);
    width: 100%;
}

.btn-play {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #1a1a1a;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}
